<!DOCTYPE html>
<html>
  <head>
    <title>montreal.rb</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header id="main-header">
      <div class="container">
        <div class="row">
          <%= link_to "montreal.rb", "/", id: "logo" %>
          <nav>
            <ul>
              <li><%= link_to "About", "#" %></li>
              <li><%= link_to "Jobs", "#" %></li>
              <li><%= link_to "Members", "#" %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <%= yield %>
        </div>
        <div class="col-md-2">
          sidebar
        </div>
      </div>
    </div>

  </body>
</html>
